.sign-up {
  display: flex;
  flex-direction: column;

  .title {
    margin: 10px 0;
  }
}

.acct {
  color: grey;

  .acctSignIn {
    cursor: pointer;
    font-weight: 900;
    margin-left: 5px;

    &:hover {
      color: black;
    }
  }
}
