.sign-up {
  display: flex;
  flex-direction: column;


  .title {
    margin: 10px 0;
  }
}

.acct {
  color: grey;


  .acctSignIn {
    cursor: pointer;

    &:hover {
      color: black;
    }
  }
}
